<ul class="list-group">
  <li class="list-group-item"><%= image_tag @profile.picture %></li>
  <li class="list-group-item"><%= @profile.first_name %></li>
  <li class="list-group-item"><%= @profile.description %></li>
</ul>